@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');



body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}


#retangulos{
    display: flex;
    width: 100%;
    
}
.teste_fundo{
    background-color: rgb(255, 255, 255);
    margin-left: 13%;
    margin-top: 10.5vh;
    height: 40vh;
    width: 15%;
    border-radius: 2.25rem 2.25rem 0rem 0rem;
    }

h1{
    font-family: 'Fugaz One', cursive;
    padding-top: 35vh;
    color:white;
    font-size: 6vw;
    letter-spacing:0rem;
    
    padding-right: 0rem;
    text-align: left;
    padding-left: 5rem;
    padding-top: 15rem;
    
}

h1 span{
    transform: rotateY(360deg);
}

#teste1{
    font-family: 'Fugaz One', cursive;
    padding-top: 8rem;
    color:white;
    font-size: 9vw;
    letter-spacing:0rem;
    
    padding-top: 0rem;
    color:#009767;
    
    
    
}
#teste1:after{
    content:"SAÚDE";
    animation: topToBottom 7s infinite 0s;
    
}
@keyframes topToBottom {
    
    15%{content:"SAÚDE";}  
    25%{content:"FORÇA";}
    75%{content:"DISCIPLINA";}
    100%{content:"FOCO";}
}
*{margin:0;}
html{
    scroll-behavior: smooth;

    
}
#botao{
    background-color: #009767;
    text-align: left;
    align-items: left;
    border-radius: 3rem;
    padding: 1rem 2rem 1rem 2rem;
}
#botao:hover{
    filter: brightness(1.2);
}
.navbar{
    display: flex;
    /*background-color: rgb(19, 19, 19);*/
    justify-content: space-around;
    align-items:flex-end;
    padding-left: 1rem;
    padding-right: 0rem;
    position: fixed;
    width: 100%;
    height: ;
    font-size: 1.5rem;
    box-shadow: black;
    
    
}
.navbar ul{
    display:flex;
    gap: 3.5rem;
    text-align: center;
    justify-content: center;
    list-style: none;
    height: 4rem;
    
    
    
    
}
.navbar ul a{
    text-decoration: none;
    color: rgb(228, 226, 226);
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;  
    
}
.navbar ul a:hover{
   filter: brightness(1.2);
     
}
#logo:hover{
    filter: brightness(1.2);
}

}

section{
    min-height: 100vh;
    padding-top: rem;
}

#home{
    background-image: url(academia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#sobre{
    background-image: url(academia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh
    
}
#contato{
    background-image: url(academia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh
    
}
#mapa{
    margin-top: 50vh;
}


